<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Express</title>
</head>
<body>
    <%- include('blocks/header') -%>
    <div class="post">
        <a href="http://localhost:3000/posts/1">23.12.2024</a>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, sequi sed odio cupiditate laboriosam similique ratione modi voluptate 
            temporibus ab asperiores aspernatur! Aperiam perspiciatis quos itaque officia nostrum quo velit?
        </3>
    </div>
</body>
</html>