<header>
    <h1>Express & Node JS</h1>
    <h1>
        <a href="http://localhost:3000">home</a>
    </h1>
    <h1>
        <a href="http://localhost:3000/user/user/age">user</a>
    </h1>
    <h1>
        <a href="http://localhost:3000/about">about</a>
    </h1>
    <h1>
        <a href="http://localhost:3000/posts">posts</a>
    </h1>
    <h1>
        <a href="http://localhost:3000/contacts">contacts</a>
    </h1>
    <h1>
        <a href="http://localhost:3000/add-post">add post</a>
    </h1>

    <form method="post" action="/check-user">
        <input type="text" name="username" placeholder="search user">
        <button type="submit">submit</button>
    </form>
</header>